.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
    width: 100vw;
}

.imagesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 60%;
    box-sizing: border-box;
    padding: 10px;
}

.imagesContainer img {
    height: 50%;
    width: auto;
    filter: drop-shadow(0px 0px 12px #B2FFFF) opacity(95%);
}

.techUsed {
    width: 40vw;
    font-size: 1rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    height: 20%;
}

.disclaimer {
    width: 100%;
    font-size: .5rem;
    font-style: italic;
    text-align: center;
    height: 20%;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
}

/* Mobile styling */
@media (max-width: 768px) {
    .imagesContainer img {
        margin-left: 7.5px;
        margin-right: 7.5px;
        height: 40%;
    }
    .techUsed {
        font-size: .8rem;
    }
    .disclaimer {
      font-size: .3rem;
    }

  }