.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #708090;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px;
  color: white;
}

.logo {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.subheader {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .8rem;
  margin-left: 10px;
  color: white;
}

.divider {
  min-height: 8vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  flex-grow: 1;
}

.itemContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: 15vh;
  grid-gap: 0px;
  width: 60%;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.date, .title {
  background-color: #F9F6EE;
  padding: 15px;
  margin-bottom: 15px;
}

.title {
  background-color: #dcdcf5;
}

/* Styles for specific dates or titles */
.date1 { /* unique styles for date1 */ }
.title1 { /* unique styles for title1 */ }
/* ... */

.footer {
  width: 100%;
  background-color: #36454F;
  padding: 10px 20px;
  text-align: center;
  border-top: 1px solid black;
  font-family: 'Helvetica', 'Arial', sans-serif;
  color: white;
}

@media (max-width: 768px) {
  .itemContainer {
    width: 90%;
    font-size: 0.5rem;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 12vh;
  }
  .footer {
    font-size: 0.5rem;
  }
}

