.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  background: linear-gradient(to top, #6a82fb, #9bc5d3, white);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 100%;
  flex-grow: 1;
  justify-content: center;
  box-sizing: border-box;
  height: auto;
}

.caption1{
  font-size: 3rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: .5vh;
}

.caption2{
  font-size: 1.2rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-style: oblique;
}

/* Mobile styling */
@media (max-width: 768px) {
  .caption1 {
    font-size: 2rem;
    text-align: center;
  }

  .caption2 {
    font-size: 1rem;
    text-align: center;
  }
}