.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  margin-right: 10px;
}

.bold {
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 2px;
}

.subheader {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: .8rem;
  margin-left: 10px;
}

.divider {
  min-height: 8vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.itemContainer {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-auto-rows: 15vh;
  grid-gap: 0px;
  width: 60%;
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.date, .title {
  background-color: #F9F6EE;
  padding: 15px;
  margin-bottom: 15px;
}

.title {
  background-color: #dcdcf5;
}

/* If you have unique styles for specific dates or titles, you can add them here */
.date1 { /* unique styles for date1 */ }
.title1 { /* unique styles for title1 */ }
/* ... */

@media (max-width: 768px) {
  .itemContainer {
    width: 90%;
    font-size: 0.5rem;
    grid-template-columns: 20% 80%;
    grid-auto-rows: 8vh;
  }
}