.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    color: black;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 1vw;
  }
  
  .navItems {
    display: flex;
    margin-right: 3vw;
  }
  
  .navItem {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
  }